@model BTDLab2.Models.Place

@{
    ViewBag.Title = "Создание места";
}
<div class="maintext">
    <font align=" center">
        @using (Html.BeginForm())
        {
            <h2>Создать место</h2>
            <fieldset>
                @Html.LabelFor(model => model.Name, "Имя Места: ")
                @Html.EditorFor(model => model.Name)
                <br />
                <br />
                <input type="submit" value=" Добавить " />
                <br />
                <br />
            </fieldset>
        }
    </font>
    <div>
        @Html.ActionLink("Вернуться назад", "Places")
    </div>
</div>