@model BTDLab2.Models.Disease

@{
    ViewBag.Title = "EditDisease";
}
<div class="maintext" align="center">
    @using (Html.BeginForm())
    {
        <h2>Изменить болезнь</h2>
        <fieldset>

            @Html.HiddenFor(m => m.Id)
            <p>
                @Html.LabelFor(m => m.Name, "Название болезни: ")
                @Html.EditorFor(m => m.Name)
                <input type="submit" value="Изменить" />
                <br />
                <br />
        </fieldset>
    }

</div>
<div class="maintext">
    @Html.ActionLink("Вернуться назад", "Diseases")
</div>

