@model IEnumerable<BTDLab2.Models.Place>

@{
    ViewBag.Title = "Places";
}
    <div class="maintext" align ="center">
        <h2>Таблица Мест</h2>

        <p>
            @Html.ActionLink("Создать место", "CreatePlace")
        </p>
        <table class="table" border="10" >
            <tr>

                <th>
                    Имя
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Изменить", "EditPlace", new { id = item.Id })
                        @Html.ActionLink("Удалить", "DeletePlace", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>